page-map {
    #map{
        height:100%;
        width:100%;
    }
    .fab[mini] {
        margin-right:15px;
        margin-bottom: 95px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    #marker1{
        width:17px;
        height:20px;
    }

    #marker2{
        width:20px;
        height:20px;
    }
    ion-title{
        text-align: center;
        width:120% !important;
        margin-left:-30px;
    }
}
